#First-two{
  display: inline-flex;
}

#Second-two{
  display: inline-flex;
}

#four_boxes {
  margin: auto;
  text-align: center;
}

html{
  background-color: #EEEEEE;
  
}
body{
  background-color: #EEEEEE;
  margin: auto;
  text-align: center;
}

li{
  display:inline;
}
a{
  text-decoration: none;
}
.menu{
  position: relative;
  top: -70px;
  margin: auto;
  text-align: center;
}

li:hover{
  opacity: .75;
}

h1{
  text-align: center;
  font-size: 400%;
}

h2{
  color: #EEE;
  font-size: 48px;
  align-self: center;
}

h3{
  margin: auto;
  text-align: center;
}

#Create{
  /*position: relative;
  right: 0;
  bottom: 0;*/
  width: 500px;
  height: 400px;
  padding: 25px;
  /*border: 25px solid black;*/
  margin: 25px;
  /*background-image: url("http://picresize.com/images/rsz_34563.jpg");*/
  background-color: #2CA0EB;
}

#Create:hover{
  background-color: #2CA0EB;
  opacity: 0.75;
}

#View{
  /*position: relative;
  right: 0;
  bottom: 68px;*/
  width: 500px;
  height: 400px;
  padding: 25px;
  /*border: 25px solid black;*/
  margin: 25px;
  background-color: #FF4523;
}

#View:hover{
  background-color: #FF4523;
  opacity: 0.75;
}

#Manage{
  /*position: relative;
  bottom: 636px;
  left: 600px;*/
  width: 500px;
  height: 400px;
  padding: 25px;
  /*border: 25px solid black;*/
  margin: 25px;
  background-color: #21F067;
}

#Manage:hover{
  background-color: #21F067;
  opacity: 0.75;
}

#Locate{
  /*position: relative;
  bottom: 1722px;
  left: 600px;*/
  width: 500px;
  height: 400px;
  padding: 25px;
  /*border: 25px solid black;*/
  margin: 25px;
  background-color: #FF9E23;
}

#Locate:hover{
  background-color: #FF9E23;
  opacity: 0.75;
}

#map-canvas {
  height: 500px;
  width: 500px;
}
