<!DOCTYPE html>
<html>
<head>
  {% block head %}
  <title>{% block title %}{% endblock %} | OctoAdventure</title>

  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <link href='css/bootstrap.min.css' rel='stylesheet' type='text/css'>
  <link href='css/styles.css' rel='stylesheet' type='text/css'>
  {% endblock %}
</head>
<body>
  {% block content %}{% endblock %}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="js/home.js"></script>
</body>
</html>