<!DOCTYPE html>
<html>
<head>

<title>Create</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src = "js/home.js"></script>
<link href="css/create.css" rel="stylesheet">

</head>
<body>
<h1>Create a Group</h1>
<br>
<br>
<br>
<div class="menu">
  <ul>
    <li><a href="/home"><img src = "http://dabuttonfactory.com/button.png?t=Home&f=Droid+Serif-Bold&ts=20&tc=eee&tshs=1&tshc=000&hp=20&vp=8&c=9&bgt=unicolored&bgc=343434"></img></a></li>
    <li><a href="Account Settings"><img src = "http://dabuttonfactory.com/button.png?t=Account+Settings&f=Droid+Serif-Bold&ts=20&tc=eee&tshs=1&tshc=000&hp=20&vp=8&c=9&bgt=unicolored&bgc=343434"></img></a></li>
    <li><a href="Logout"><img src ="http://dabuttonfactory.com/button.png?t=Logout&f=Droid+Serif-Bold&ts=20&tc=eee&tshs=1&tshc=000&hp=20&vp=8&c=9&bgt=unicolored&bgc=343434"></img></a></li>
  </ul>
</div>
<br>
<br>
<br>
<br>
<form action="/create" method="post">
  <input type="text" name="groupname" placeholder="Group Name">
  <br>
  <input type="text" name="groupmember1" placeholder="Group Member">
  <br>
  <input type="text" name="groupmember2" placeholder="Group Member">
  <br>
  <input type="text" name="groupmember3" placeholder="Group Member">
  <br>
  <input type="submit" value="Create Group">
</form>
<br>
<br>
<form action="/search">
<input type="text" name="search">
<input type="submit" value="Search">
</form>
<br>
<br>
<br>
{% for user in users%}
<div id="list_users">
  <h3>{{user.first_name}}</h3>
  </div>
