<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src = "js/home.js"></script>
    <link href = "css/home.css" rel = "stylesheet">
  </head>
  <body>
    <h1>Welcome!</h1>
    <br>
    <br>
    <br>
    <div class="menu">
      <ul>
        <li><a href="/home"><img src = "http://dabuttonfactory.com/button.png?t=Home&f=Droid+Serif-Bold&ts=20&tc=eee&tshs=1&tshc=000&hp=20&vp=8&c=9&bgt=unicolored&bgc=343434"></img></a></li>
        <li><a href="Account Settings"><img src = "http://dabuttonfactory.com/button.png?t=Account+Settings&f=Droid+Serif-Bold&ts=20&tc=eee&tshs=1&tshc=000&hp=20&vp=8&c=9&bgt=unicolored&bgc=343434"></img></a></li>
        <li><a href="Logout"><img src ="http://dabuttonfactory.com/button.png?t=Logout&f=Droid+Serif-Bold&ts=20&tc=eee&tshs=1&tshc=000&hp=20&vp=8&c=9&bgt=unicolored&bgc=343434"></img></a></li>
      </ul>
    </div>
    <div id="four_boxes">
      <div id = "First-two">
        <a id= "Create" href="/create"><h2>Create</h2></a>
            <!-- <li><a href = "/create"><img src= "http://picresize.com/images/rsz_34563.jpg"></img></a></li> -->
          <!-- </form> -->
        <br>
          <a id= "View" href="/view"><h2>View</h2></a>
        </div>
      <div id="Second-two">
        <br>
          <a id= "Manage" href="/manage"><h2>Manage</h2></a>
        <br>
        <br>
          <a id= "Locate" href="/locate"><h2>Locate</h2></a>
        </div>
    </div>

  </body>
</html>
<!-- why doesn't the "/home" show up in the url?-->
