{% extends "templates/base.html" %}

{% block title %}
  Maps
{% endblock %}

{% block head %}
  {{ super() }}
  <link href="css/home.css" rel="stylesheet">
  <script src = "https://maps.googleapis.com/maps/api/js?key=AIzaSyAcbUwsmkKJevNllEvLlw15-VeSoFdIdVo&libraries=places"></script>
{% endblock %}

{% block content %}
  <h1>Find the Best Meeting Spots Near You</h1>
  <br>
  <br>
  <br>
  <div class="menu">
    <ul>
      <li><a href="/home"><img src = "http://dabuttonfactory.com/button.png?t=Home&f=Droid+Serif-Bold&ts=20&tc=eee&tshs=1&tshc=000&hp=20&vp=8&c=9&bgt=unicolored&bgc=343434"></img></a></li>
      <li><a href="Account Settings"><img src = "http://dabuttonfactory.com/button.png?t=Account+Settings&f=Droid+Serif-Bold&ts=20&tc=eee&tshs=1&tshc=000&hp=20&vp=8&c=9&bgt=unicolored&bgc=343434"></img></a></li>
      <li><a href="Logout"><img src ="http://dabuttonfactory.com/button.png?t=Logout&f=Droid+Serif-Bold&ts=20&tc=eee&tshs=1&tshc=000&hp=20&vp=8&c=9&bgt=unicolored&bgc=343434"></img></a></li>
    </ul>
  </div>

  <br>
  <br>
  <div id="map-canvas"></div>
  <br>
  <br>

  <form action="/home">
    <input type="submit" value="Back to Home">
  </form>

{% endblock %}
<!-- obviously needs maps api -->
