<!DOCTYPE html>
<html>
<head>
<title>Octo Adventure!</title>
<link href = "css/home.css" rel = "stylesheet">

</head>
<body>
  <h1>Sign Up</h1><br>

  <form action="/" method="post">
    First name:
    <input type="text" name= "firstname"><br>
    Last name:
    <input type="text" name="lastname"><br>
    Phone number:
    <input type="text" name="number"><br>
    Email:
    <input type="text" name="email"><br>
    Dorm Building:
    <input type="text" name="building"><br>
    Dormroom number (optional):
    <input type="text" name="room"><br>
    <input type="submit" name="form_button" value="Let's Begin!">
  </form>
</body>
  </html>
