<!DOCTYPE html>
<html>
<head>
<title>Octo Adventure!</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src = "js/home.js"></script>
<link href = "css/home.css" rel = "stylesheet">

</head>
<body>
  <h1>Sign Up</h1><br>
<br>
<br>
<br>
<div class="menu">
  <ul>
    <li><a href="/home"><img src = "http://dabuttonfactory.com/button.png?t=Home&f=Droid+Serif-Bold&ts=20&tc=eee&tshs=1&tshc=000&hp=20&vp=8&c=9&bgt=unicolored&bgc=343434"></img></a></li>
    <li><a href="Account Settings"><img src = "http://dabuttonfactory.com/button.png?t=Account+Settings&f=Droid+Serif-Bold&ts=20&tc=eee&tshs=1&tshc=000&hp=20&vp=8&c=9&bgt=unicolored&bgc=343434"></img></a></li>
    <li><a href="Logout"><img src ="http://dabuttonfactory.com/button.png?t=Logout&f=Droid+Serif-Bold&ts=20&tc=eee&tshs=1&tshc=000&hp=20&vp=8&c=9&bgt=unicolored&bgc=343434"></img></a></li>
  </ul>
</div>
  <form action="/" method="post">
    First name:
    <input type="text" name= "firstname"><br>
    Last name:
    <input type="text" name="lastname"><br>
    Phone number:
    <input type="text" name="number"><br>
    Email:
    <input type="text" name="email"><br>
    Dorm Building:
    <input type="text" name="building"><br>
    Dormroom number (optional):
    <input type="text" name="room"><br>
    <input type="submit" name="form_button" value="Let's Begin!">
  </form>
</body>
  </html>
