{% extends "templates/base.html" %}

{% block title %}
  View
{% endblock %}

{% block head %}
  {{ super() }}
  <link href="css/home.css" rel="stylesheet">
{% endblock %}

{% block content %}
<h1>View Existing Groups</h1>
<br>
<br>
<br>
<div class="menu">
  <ul>
    <li><a href="/home"><img src = "http://dabuttonfactory.com/button.png?t=Home&f=Droid+Serif-Bold&ts=20&tc=eee&tshs=1&tshc=000&hp=20&vp=8&c=9&bgt=unicolored&bgc=343434"></img></a></li>
    <li><a href="Account Settings"><img src = "http://dabuttonfactory.com/button.png?t=Account+Settings&f=Droid+Serif-Bold&ts=20&tc=eee&tshs=1&tshc=000&hp=20&vp=8&c=9&bgt=unicolored&bgc=343434"></img></a></li>
    <li><a href="Logout"><img src ="http://dabuttonfactory.com/button.png?t=Logout&f=Droid+Serif-Bold&ts=20&tc=eee&tshs=1&tshc=000&hp=20&vp=8&c=9&bgt=unicolored&bgc=343434"></img></a></li>
  </ul>
</div>
<br>
<br>
{% for group in groups%}
<h1>Group: {{group.group}}</h1>
<br>
<br>
<h3>Members: {{group.member1}}, {{group.member2}}, {{group.member3}}</h3>
      <br>
      <br>
      <br>
{%endfor%}
<br>
<br>
<form action="/home">
  <input type="submit" value="Back to Home">
</form>
{% endblock %}
